@media (min-width: 1441px) {
  .screen .desktop {
    display: none;
  }

  .screen .desktop-xl {
    display: block;
  }

  .screen {
    background-color: #000;
  }

  .screen p {
    color: #fff;
  }
}
