   body {
  font-family: 'PT Sans', sans-serif;
  /*background-image: url(../img/mockup.jpg);*/
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.sidebar {
  display: none;
  position: fixed;
  top: 46px;
  left: 20px;
  width: 300px;
  opacity: .1;
  transition: opacity 2s ease;
}

.sidebar:hover {
  opacity: 1;
}


.sidebar > ul {
  padding: 15px 30px;
}

.sidebar > ul > li:first-child {
 font-weight: bold;
 margin-top: 10px;
}

.sidebar > ul >li:hover {
  color: (0,0,0,1);
}

.sidebar li {
  margin: 12px 0;
  font-size: 14px;
  line-height: 15px;
  color: rgba(0,0,0,.8);
}




/* doens't work */
/* .sidebar > ul > li > ul {
  padding-left: 10px;
}

.sidebar > ul > li > ul li {
  color: rgba(0,0,0,.4);
}

.sidebar > ul > li > ul li:hover {
  color: rgba(0,0,0,.6);
} */
/* doens't work */
article {
  width: 700px;
  margin: 0 auto;
}
.sidebar > ul > li > ul {
  padding-left: 10px;
}

.sidebar > ul > li > ul li {
  color: rgba(0,0,0,.4);
}

.sidebar > ul > li > ul li:hover {
  color: rgba(0,0,0,.6);
}
h1, h2, h3 {
 font-family: "PT Sans Caption";
 font-weight: bold;
}

h1 {
 font-size: 40px;
 line-height: 46px;
 margin-top: 63px;
}

h1 + p {
 color:  rgba(0, 0, 0, .4);
 font-family: 'PT Sans Caption';
 font-size: 22px;
 line-height: 32px;
}

h2 {
  margin-top: 68px;
  font-size: 32px;
  line-height: 36px;
}

h2 + p {
  margin-top: 8px;
}

p, article blockquote, article ul {
  font-size: 22px;
  line-height: 34px;
  margin-top: 4px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 34px;
}

h3 + p {
margin-top: 6px;
}

article img {
  display: block;
  width: 1020px;
  margin: 80px 0 80px -160px;

}
article p + p, blockquote + p, {
  margin-top: 29px;
}

blockquote {
  position: relative;
  font-style: italic;
}
article blockquote ::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 3px;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}

article > ul {
  margin-top: 29px auto;
  list-style-type: disc;
}

article li {
  margin: 17px 0 17px 30px;
}
